<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <%for(i=0;i<data.length;i++){%>
    <tr><td>Name :</td><td><%=data[i].name%></td></tr><br>
    <tr><td>Desigination :</td><td><%=data[i].desigination%></td></tr><br>
    <tr><td>Salary :</td><td><%=data[i].salary%></td></tr><br>
        <%}%>
</body>
</html>